body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 15;
    padding: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-bottom: 8px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: rgb(134, 134, 253);
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #808080;
}

.error {
    color: red;
}